.navbar {
    background-color: rgb(156, 136, 255);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    
  
  }
  
  .navbar li {
    margin-right: 20px;
    text-decoration: none;
    
   
     
  }
  