body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.header {
  padding: 30px 10px;
  background-color: #f4f4f4;
}

.header img {
  max-width: 200px;
}



.footer {
  background-color: rgb(156, 136, 255);
  color: white;
  padding: 10px;
  
  bottom: 0;
  width: 100%;
}

/* Add this to your existing CSS file or modify it accordingly */

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info span {
  margin-right: 10px;
}

.highlighted {
  color: #fff; /* Text color */
  background-color: #f39c12; /* Highlight color */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none; /* Remove underline for links */
}

.highlighted:hover {
  background-color: #e67e22; /* Hover color */
}

/* Add this to your existing CSS file or modify it accordingly */

/* Add or update this in your existing CSS file */

/* Add or update this in your existing CSS file */


